<a href="https://colab.research.google.com/github/Avonna/Avona/blob/main/data_generation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

К примеру, мы хотим получить датасет с транзакциями клиентов. Датасет должен включать в себя дату транзакции (date), имя клиента (client_name) и сумму транзакции (trans_amount)

In [ ]:
#импортируем библиотеки
import pandas as pd
import random

#задаем выборку допустимых значений
#значения для поля user_name
clients = ['Петя', 'Маша', 'Саша', 'Катя']

#значения для поля trans_amount. список значений от 10 до 999
amount = list(range(10,1000))

#значение поля date (берем промежуток дат с 1 января 2022 до 31 декабря 2022)
dates = pd.date_range('1/1/2022', '12/31/2022')
#преобразуем даты в список
dates_df = pd.Series(dates)
dates_list = dates_df.to_list()

#создаем записи данных с рандомными значениями из допустимых значений, записываем результаты в список data
data = []

#задаем количество строк в будущем датафрейме, которые мы генерируем (в данном примере 1000 строк)
for i in range(1000):
          #генерируем каждую строку с выбором рандомного значения из наших допустимых значений 
          row = [random.choice(dates_list), random.choice(clients), random.choice(amount)]
          data.append(row)

#создаем датафрейм из созданных данных           
df = pd.DataFrame(data, columns=['date', 'client_name', 'trans_amount'])

In [ ]:
df

          date client_name  trans_amount
0   2022-01-07        Катя           934
1   2022-06-12        Петя            50
2   2022-11-29        Саша           736
3   2022-08-18        Маша           704
4   2022-09-07        Саша           472
..         ...         ...           ...
995 2022-11-14        Саша           260
996 2022-04-21        Катя            45
997 2022-07-20        Саша           454
998 2022-07-31        Маша           660
999 2022-11-09        Маша           767

[1000 rows x 3 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          1000 non-null   datetime64[ns]
 1   user_name     1000 non-null   object
 2   trans_amount  1000 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 23.6+ KB